body {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    color: #959da6;
    font-size: 14px;
    position: relative;
    background: url(../img/bg.png);
}

.buttonDiv {
    width: 50%;
    height: 33%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#buttonContainer {
    height: 100%;
}

.btn.btn-large.btn-large-grow {
    width: 100%;
}

.title {
    text-align: center;
}

.btn.btn-large.btn-large-gradient {
    background-image: linear-gradient(#de7436, #c4450f);
    width: 100%;
    border-radius: 5px;
    background-image: linear-gradient(#de7436, #c4450f);
    background-repeat: unset;
    background-position: unset;
    height: 100px;
}

.btn.btn-large.btn-large-gradient span {
    width: 100%;
    background-image: linear-gradient(#de7436, #c4450f);
    background-repeat: unset;
    background-position: unset;
    border-radius: 5px;
    height: 100px;
    padding-top: 27px;
    font-size: 20px;
}